* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #0460BC;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

section {
    background-color: #fff;
    border-radius: 1em;
    width: 380px;
    padding: 2em;
    margin: 20em auto;
}

header {
    display: flex;
    justify-content: space-between;
}